@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #F9F2ED;
    font-family: 'Roboto', sans-serif;

}
.container{
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{

    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 25px;
    color: #333;
    text-transform: uppercase;
    cursor: pointer;
}

header ul{
    list-style: none;
}
header ul li{
display: inline-block;
margin-left: 15px;

}

.content{
    margin-top: 100px;
}
.content h1{
    color: red;
    margin-bottom: 10px;
}

.content p{
    text-align: center;
}