* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f6368;
  font-size: 14px;
}
/* nav start */
nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

nav .navLeft {
  display: flex;
}

.navLeft p {
  margin: 10px;
  cursor: pointer;
}

nav .navRight {
  display: flex;
}

.navRight p,
.navRight a {
  margin: 10px;
  margin-top: 15px;
 
}

.navRight p,
.navRight a,
.navRight .signIn {
  margin-right: 20px;
  cursor: pointer;
}

.signIn {
  background-color: #4485f5;
  color: white;
  border: 0.5px solid #4485f5;
  width: 60px;
  height: 25px;
  margin-top: 10px;
}

/*nav end */

/*container start*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
  position: absolute;
  top: 35%;
}

.textInput {
  position: absolute;
  display: block;
  top: 50%;
}

.textInput input[type="text"] {
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
}

.textInput i {
  position: absolute;
  top: 30%;
  left: 5px;
}

.textInput .voice {
  position: absolute;
  top:15%;
  right: 0;
  width: 20px;
  height: 20px;
}

.btns {
  display: block;
  position: absolute;
  top: 57%;
}

.btn1{
  color: black;
  opacity: 0.75;
  border: .5px solid gray;
  height: 25px;
  width: 100px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn2{
  color: black;
  opacity: 0.75;
  border: .5px solid gray;
  height: 25px;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
}

/*container end*/

/*footer start */
footer {
  width: 100vw;
}

footer .footerLeft {
  float: left;
  position: absolute;
  bottom: 2%;
}

footer .footerLeft p {
  margin: 10px;
  display: inline;
}

footer .footerRight {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

footer .footerRight p {
  display: inline;
  margin: 10px;
}

/* footer end */

@media (max-width:576px) {
  footer{
    display: none;
  }

  .textInput input[type="text"]{
    width: 350px;
  }
 
}